
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a quick test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
        nextflow run ampliseq -profile quick_test,docker --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

includeConfig 'test.config'

params {
    config_profile_name = 'Quick test profile'
    config_profile_description = 'Minimal test dataset to run a quick test'

    // Skip most of the steps
    skip_fastqc = true
    skip_barrnap = true
    skip_qiime = true
    skip_qiime_downstream = true
    skip_taxonomy = true
    skip_multiqc = true
    skip_report = true
    skip_phyloseq = true
    skip_tse = true
    sbdiexport = false
    picrust = false
    filter_ssu = null
}
